@page "/ProjectList/Index"
@inherits IndexBase

@if (@isLoading)
{
    <TemplatedLoading />
}
<div class="box-form">
    <RadzenTemplateForm TItem="ProjectListRequest" Data="@request" Submit="@OnSearch">
        <div class="search-form">
            <h3 class="box-title">Quản lý đồ án</h3>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <RadzenLabel class="form-label" Text="Tìm kiếm theo tên đồ án" />
                        <RadzenTextBox Placeholder="Tên đồ án..." @bind-Value="@request.SearchText" />
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <RadzenButton type="submit" Style="margin: 25px 15px;" class="btn btn-success btn-search-form col-lg-2 col-md col-sm">
                            <RadzenIcon Icon="search" class="material-icons-custom" />Tìm kiếm
                        </RadzenButton>

                        
                    </div>
                </div>
            </div>
        </div>
    </RadzenTemplateForm>
    <div class="clearfix"></div>

    <RadzenDataGrid class="radzen-data-grid table-form"
                    ColumnWidth="300px"
                    AllowFiltering="false"
                    AllowColumnResize="true"
                    FilterMode="FilterMode.Advanced"
                    AllowPaging="true"
                    AllowSorting="false"
                    TItem="ProjectListViewModel"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    Count="@count"
                    Data="@data"
                    LoadData="@LoadData"
                    PageSize="@pageSize"
                    @ref="grid">
        <Columns>
            
            <RadzenDataGridColumn Width="100px" TItem="ProjectListViewModel" Property="Id" Title="Mã đồ án">
                <Template Context="data">
                    @data.ID_ProjectList
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Width="200px" TItem="ProjectListViewModel" Property="I" Title="Tên đồ án">
                <Template Context="data">
                    <a href="@data.LinkDownload" target="_blank">@data.Name</a>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Width="100px" TItem="ProjectListViewModel" Property="Id" Title="Hội đồng chấm">
                <Template Context="data">
                    @data.SpecializedName
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Width="150px" TItem="ProjectListViewModel" Property="Id" Title="Người thực hiện">
                <Template Context="data">
                    @data.StudentName
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Width="150px" TItem="ProjectListViewModel" Property="Id" Title="Giảng viên phụ trách">
                <Template Context="data">
                    @data.TeacherCode - @data.TeacherName
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Width="250px" TItem="ProjectListViewModel" Property="Id" Title="Mô tả">
                <Template Context="data">
                    @data.LinkDownload
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Width="80px" TItem="ProjectListViewModel" Property="Id" Title="Điểm">
                <Template Context="data">
                    @data.Point
                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>
</div>